div.container div.left {
	float: left;
	width: 300px;
}
div.container div.right {
	float: right;
	width: 660px;
	padding: 5px;
}
div.container div#ajaxData {
	float: right;
	width: 660px;
	font-weight: bold;
	font-size: 110px;
	line-height: 120px;
}
div.container object {
	border: 0;
	padding: 0;
	margin: 0;
	width: 100%;
	max-width: 100%;
}
div.container object img {
	border: 0;
	padding: 0;
	margin: 0;
	width: 100%;
	max-width: 100%;
}
div.container p {
	margin: 0;
	word-wrap: break-word;
}
div.container input {
	width: 300px;
	font-size: 27px;
	height: 39px;
	margin: 0;
	padding: 0;
}
div.container table {
	border-spacing: 0;
}
div.container table tr {
	margin: 0;
}
div.container table tr td {
	padding: 5px 0;
	border: 0;
}

div.container div#ajaxData p {
	margin: 0;
	text-align: right;
	width: 100%;
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 70px;
}
div.container div#ajaxData p.timer {
	background-image: url('images/clock.png');
}
div.container div#ajaxData p.prijs {
	background-image: url('images/cr.png');
}